body.ajax-loading::after {
    content: 'loading...';
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    z-index: 12345;
    top: 0;
	left: 0;
	font-family: $font1;
	font-size: 40px;
}

section {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} 

.home-top {
	background-image: url('../images/home-bg.jpg');
	height: 100vh;
	position: relative;
	background-attachment: fixed;

	.logo {
		display: inline-block;
		width: 38px;
		height: 38px;
		border: 2px solid #fff;
		border-radius: 50%;
	}

	.container{
		height: 100%;
	}
	.play{
		display: inline-block;
		width: 84px;
		height: 84px;
		background:  url('../images/icons/play-btn.png');
		background-repeat: no-repeat;
		position: absolute;
		left: calc(50% - 42px);
		bottom: 42px;
		transform: rotate(0deg);
		transition: all .3s linear;
		&:hover{
			transform: rotate(90deg);
		}
	}
	
}
.wrapper-search{
	display: flex;
	position: relative;
	height: 36px;
	align-items: center;
	cursor: pointer;

	input{
		background-color: rgba(255,255,255,0.6);
		border-radius: 40px;
		height: 38px;
		color: #fff;
		padding: 0px;
		color: rgb(0, 0, 0);
		width: 0px;
		position: absolute;
		right: 0;
		top: -1px;
		transition: all .3s linear;
	}
	
	.i-search{
		display: inline-block;
		background-image: url(../images/icons/search.png);
		width: 38px;
		height: 38px;
		background-position: center;
		background-repeat: no-repeat;
		
		border-radius: 50%;
		z-index: 1;
		transition: all .3s linear;
	}
}
.wrapper-search.show-search{
	input{
		padding: 0 30px 0 20px;
		width: 300px;
	}
	.i-search{
		background-color: #575757;
	}
}
.main-header{
	padding: 76px 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255,255,255,.5);
	transition: all 0.3s linear;
	z-index: 1;
    position: relative;
}
.menu-top {
	li{
		display: inline-block
	}
	a {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		padding: 15px 24px;
		position: relative;
		&:after {
			content: '';
			border: 1px solid #fff;
			position: absolute;
			bottom: -3px;
			left: 0px;
			width: 0px;
			transition: all .3s linear;
			display: inline-block;
			opacity: 0;
		}
		&:hover:after{
			width: 100%;
			opacity: 1;
		}
	}
}
.baner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	display: flex;
    flex-direction: column;
    align-items: center;
	p{
		text-align: center;
		margin-bottom: 90px;
		width: 90%;
		font-size: 20px;
		line-height: 34px;
	}
}

.wrapper-block{
	width: 100%;
    position: relative;
    padding: 13% 0;
    font-size: 0px;

	.item { 
		background-color: #000;
		display: inline-block;
		position: absolute;
		height: 100%;
		width: 25%;
		top: 0;
		left: 0;
		overflow: hidden;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			transition: all .3s linear;
		} 
		&:hover img{
			opacity: .6;
			transform: scale(1.1);
		}
		&:nth-child(2){
			left: 25%;	
		}
		&:nth-child(3){
			left: 50%;	
		}
		&:nth-child(4){
			left: 75%;	
		}
		.info{
			position: absolute;
			bottom: 100px;
			display: flex;
			align-items: center;
			flex-direction: column;
			color: #fff;
			font-size: 18px;
			line-height: 30px;
			width: 100%;
			transition: all .3s linear;
		}
		&:hover .info{
			transform: scale(1.1) translate(0%,50%);
			bottom: 50%;
		}
		.title-block{
			text-transform: uppercase;
		}
	}   
}
.row-footer{
	padding: 100px 98px 120px;
	font-size: 0px;
	display: flex;
	.col{
		display: inline-block;
		width: 25%;
		font-size: 14px;
		line-height: 26px;
		color: #000;
		.title-col{
			font-weight: 700;
			margin-bottom: 30px;
			text-transform: uppercase;
		}
		li{
			list-style: none;
			font-style: italic;
			font-family: 'Georgia';
			color: #565656;
		}
		a{
			color: #565656;
			position: relative;
			cursor: pointer;
			&::after{
				content: '';
				border: 1px solid #fff;
				position: absolute;
				bottom: -3px;
				left: 0px;
				width: 0px;
				transition: all .3s linear;
				display: inline-block;
			}
			&:hover::after{
				width: 100%;
				border: 1px solid #565656;
			}
		}
	}
}
.footer-bottom{
	height: 96px;
	line-height: 96px;
	background-color: #000;
	color: #444;
	text-align: center;
	font-family: 'Georgia';
	font-size: 12px;
}
.main-header.fixed{
	padding: 20px 100px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.7);
	z-index: 12;
	transition: all .3s linear;
}
::-webkit-input-placeholder {
	color: #444;
}
::-moz-placeholder {
	color: #444;
}
:-ms-input-placeholder {
	color: #444;
}
:-moz-placeholder {
	color: #444;
}
.mfp-bg {
	background-color: rgba(255, 255, 255, .7);
}

.popup-designe {
	width: 540px;
	background-color: rgba(0, 0, 0, .7);
	padding: 30px;
	position: relative;

	h2 {
		border-bottom: 1px solid rgba(255, 255, 255, .2);
		line-height: 48px;
		margin-bottom: 15px;
	}

	.input {
		width: 100%;
		color: $black;
		padding: 10px;
		background-color: #fff;
		font-size: 13px;
		margin-bottom: 15px;
	}

	label {
		color: #fff;
	}

	.row {
		justify-content: space-between;
	}

	.mfp-close {
		color: #eee;
		font-size: 28px;
		width: 44px;
		height: 44px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		opacity: 50%;
	}
}

.squaredOne {
	display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  background-color: #fcfff4;

  label {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 4px;
		cursor: pointer;
		background-color: #790000;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 0px;
			left: 0px;
			background-color: #949494;
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
	}

  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
	}
}

.check-txt {
	font-size: 13px;
	color: $white;
	display: inline-block;

	a {
		color: #5bc7e6;
	}
}

.position-popup {
	margin: auto;
}
.sandwich {
	position: relative;
    display: none;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 10px;

	span {
		width: 30px;
		height: 3px;
		background-color: #fff;
		margin: 2px 0;
		display: inline-block;
		border-radius: 2px;
	}
	span:nth-child(2){
		width: 26px;
	}
}
nav + span {
	display: flex;
    align-items: center;
}
.baner{
	.block-red{
		display: inline-block;
		text-align: center;
		padding: 15px 50px;
		border-radius: 46px;
		text-transform: uppercase;
		font-size: 14px;
		color: #fff;
		background-color: #da7074;
		position: relative;
	
		&::after {
			content: '';
			display: inline-block;
			width: 0px;
			position: absolute;
			border-bottom: 1px solid #da7074;
			right: 0px;
			top: 50%;
			transform: translateX(0%);
			transition: all 1s linear;
		}
		&::before {
			content: '';
			display: inline-block;
			width: 0px;
			position: absolute;
			border-bottom: 1px solid #da7074;
			left: 0px;
			top: 50%;
			transform: translateX(0%);
			transition: all 1s linear;
		}
	}	
	.red-liner {
		&::after {
			width: 200px;
			transform: translateX(100%);
		}
		&::before {
			width: 200px;
			transform: translateX(-100%);
		}
	}
}

